<form role="form" class="contact-form">
  <div {{bind-attr class=":panel :contact-detail view.panel_type"}} >
    <div class="panel-heading">
      {{#unless view.editable}}
        <h3 class="panel-title">
          {{name}}
          <a {{action edit}}class="btn glyphicon glyphicon-pencil">&nbsp;</a>
        </h3>
      {{else}}
        {{view Ember.TextField disabled=view.disableInputs value=name name="name"}}
      {{/unless}}
      <div class="description">{{view.save_message}}</div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2">
          <img {{bind-attr src=pic}} />
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-3">{{view 'fieldset' label="sex" field=sex}}</div>
            <div class="col-md-3">{{view 'fieldset' label="age" field=age}}</div>
            <div class="col-md-6">{{view 'fieldset' label="birthday" field=birthday}}</div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Address</label>
              <div class="row">
                <div class="col-md-12">
                  {{view 'fieldset' field=street}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  {{view 'fieldset' label="city" field=city}}
                </div>
                <div class="col-md-3">
                  {{view 'fieldset' label="state" field=state}}
                </div>
                <div class="col-md-2">
                  {{view 'fieldset' label="zip" field=postcode}}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">{{view 'fieldset' label="phone" field=phone}}</div>
            <div class="col-md-6">{{view 'fieldset' label="email" field=email}}</div>
          </div>

          {{#if view.editable}}
            <div class="row">
              <div class="col-md-12">
                <button {{bind-attr disabled=view.disableInputs}} {{action "save"}} type="button" class="btn btn-primary">Save</button>
                <button {{bind-attr disabled=view.disableInputs}} {{action "cancel"}} type="button" class="btn btn-default">Cancel</button>
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</form>

